<div style="margin-left: 20px;font-size: 32px;">
El id {id} pertenece a {usuario}.
</div>
<div style="margin-left: 20px;font-size: 32px;float:right;">
<a href="/Aivo/profile/facebook" style="font-size:22px;text-decoration: none;text-align:right;">[ Volver ]</a>
</div>