<div style='font-family: arial;'>

<h2>Ejemplos de id´s a buscar:</h2>
<div style='margin:20px;color:#888;'>
{ejemplos}
</div>
<hr>
Ingrese el Id:<br>
<form action method="post">
<input type="text" name="id">
<input type="hidden" value="{token}" name="token">
<input type="submit">
</form>